<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206306307510-2ov2nr74ir4an7a6ctdh4safp7edn0ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206306307510-2ov2nr74ir4an7a6ctdh4safp7edn0ru</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgYtXOrgG0pvTiQ-DavMiu2jp9Ne-OUY</string>
	<key>GCM_SENDER_ID</key>
	<string>206306307510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscr.com</string>
	<key>PROJECT_ID</key>
	<string>oscr-630a0</string>
	<key>STORAGE_BUCKET</key>
	<string>oscr-630a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206306307510:ios:8b9405719006a6bb18a517</string>
</dict>
</plist>